{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Post Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <h1>Post Detail</h1>
    {% if id == "1" %}
        <div class="post-detail">
            <h2>Itachi</h2>
            <p>Itachi Uchiha, a legendary shinobi from the Naruto series, is known for his unparalleled intelligence and exceptional skill in the ninja arts. His sacrifice, mysterious demeanor, and powerful Sharingan make him one of the most intriguing characters in the anime world.</p>
        </div>
    {% elif id == "2" %}
        <div class="post-detail">
            <h2>Eren Yeger</h2>
            <p>Eren Yeager, the protagonist of Attack on Titan, undergoes a transformative journey from a determined young man to a complex character burdened by the weight of colossal responsibilities. His evolution and the mysteries surrounding the Titans contribute to the gripping narrative of the series.</p>
        </div>
    {% elif id == "3" %}
        <div class="post-detail">
            <h2>Goku</h2>
            <p>Goku, the iconic Saiyan warrior from Dragon Ball, embodies the spirit of a relentless fighter always seeking new challenges. His boundless energy, insatiable appetite, and constant pursuit of strength have made him a beloved character in the world of anime and manga.</p>
        </div>
    {% elif id == "4" %}
    <div class="post-detail">
        <h2>Saturo Gojo</h2>
        <p>Satoru Gojo, a powerhouse sorcerer from Jujutsu Kaisen, combines charisma with extraordinary combat skills. His enigmatic personality, immense strength, and strategic brilliance contribute to his status as one of the most formidable characters in the supernatural world of Jujutsu Kaisen.</p>
    </div>
    {% endif %}
    
</body>
</html>
